name: Release Charts

on:
  workflow_run:
    workflows: lint
    branches: main
    types: completed

jobs:
  release:
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2

      - name: Override ct version
        uses: ./.github/actions/setup-chart-testing
        with:
          url: https://github.com/jouve/chart-testing
          version: 3.11.0

      - name: Run chart-releaser
        uses: jouve/chart-releaser-action@ed43eb303604cbc0eeec8390544f7748dc6c790d
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
